bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
packages/
project.lock.json
project.assets.json
*.Generated.cs
*.dll
*.exe
*.pdb
*.log
*.dmp
_ReSharper*/
*.DotSettings.user
raylib.dll
raylib.lib
.DS_Store
Thumbs.db
desktop.ini